body {
    background-size: 100% auto;
    background-image:url('../images/background3.jpg');
    background-attachment: fixed;
    font-size: 25px;
}

.blue {
    line-height: 30px;
    background-color: #AEE7FC;
    border: 30px #040D3E solid;
    margin-left: 10%;
    margin-top: 5%;
    outline: 1px #438FF9 solid;
}

.purple {
    background-color: #FFA3FD;
    border: 30px #5A0A48  solid;
    margin-left: 10%;
    margin-top: 5%;
    outline: 1px #DC22C0 solid;
}

.gold {
    background-color: #FCFC90;
    border: 30px #FFCA4D solid;
    margin-left: 10%;
    margin-top: 5%;
    outline: 1px #FDFB4C solid;
}

li{
    position: static;
    height: 350px;
}


.set1 > p, .set1 > img{
    position: relative;
    float: left;
    width: 35%;
    height: 200px;
}
.set1 > p{
    top: 8%;
}

.set1 > img{
    transform: rotate(-7deg);
    left: -10%;
}


.set2 > p, .set2 > img{
    position: relative;
    float: left;
    width: 35%;
    height: 200px;
}
.set2 > p{
    left: -10%;
    top: 8%;
}


.set2 > img{
    transform: rotate(7deg);
 }